@model AuctionAppIep.Models.View.AuctionDataModel

 <a class="btn  btn-outline-info btn-lg btn-block" asp-controller="Auction" asp-action="ShowWonAuctions">Go Back</a>
<div class="card col-xl-4" >
    
     <img  width="140" height="170" class="card-img-top" src="data:image/png;base64, @Convert.ToBase64String(Model.auction.imageData)" >
        <div class="card-body ">
        <h5  class="card-title bg-info">@Model.auction.name</h5>
        <p class="card-text">@Model.auction.description</p>
        </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Offer price: @Model.auction.startingPrice</li>
            <li class="list-group-item">Bidding price: @Model.auction.bidPrice</li>
            <li class="list-group-item">Auction started: @Model.auction.dateStart</li>
            <li class="list-group-item">Auction closed: @Model.auction.dateEnd</li>
            <li class="list-group-item">Created by: @Model.user</li>
        </ul>
</div>